[submodule "dmt-simulator"]
	path = dmt-simulator
	url = git@github.com:noobmyq/dynamorio-tp.git
[submodule "huge-page-sim"]
	path = huge-page-sim
	url = ./huge-page-sim/
[submodule "qemu"]
	path = qemu
	url = git@github.com:noobmyq/tp-qemu.git
[submodule "shadow_pgtbl_kernel"]
	path = shadow_pgtbl_kernel
	url = git@github.com:noobmyq/shadow_pgtbl_kernel.git
[submodule "tracer"]
	path = tracer
	url = git@github.com:noobmyq/pgtbl-tracer.git
[submodule "workloads"]
	path = workloads
	url = git@github.com:noobmyq/pgtbl-workloads.git
	branch = main
[submodule "osv-dynamorio"]
	path = osv-dynamorio
	url = git@github.com:noobmyq/dynamorio-tp.git
	branch = qemu-dynamorio
[submodule "qemu-linux"]
	path = qemu-linux
	url = git@github.com:noobmyq/tp-qemu.git
