[submodule "dmt-simulator"]
	path = dmt-simulator
	url = https://github.com/noobmyq/dynamorio-tp.git
[submodule "huge-page-sim"]
	path = huge-page-sim
	url = ./huge-page-sim/
[submodule "qemu"]
	path = qemu
	url = https://github.com/noobmyq/tp-qemu.git
[submodule "shadow_pgtbl_kernel"]
	path = shadow_pgtbl_kernel
	url = https://github.com/noobmyq/shadow_pgtbl_kernel.git
[submodule "tracer"]
	path = tracer
	url = https://github.com/noobmyq/pgtbl-tracer.git
[submodule "workloads"]
	path = workloads
	url = https://github.com/noobmyq/pgtbl-workloads.git
